<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="welcome-page welcome-bg">

<!-- CENTER CARD -->
<div class="center">

    <h1>
        Welcome to SmartChat-AI 🤖
    </h1>

    <p>
        Talk with AI, ask questions,
        and get smart responses instantly.
    </p>

    <!-- ACTION BUTTONS -->
    <div class="welcome-buttons">

        <a href="/login">
            <button>Sign in</button>
        </a>

        <a href="/register">
            <button>Sign up</button>
        </a>

    </div>

</div>

</body>
</html>
